.ProjectCards{
    display: flex;
    align-items: center;
    // width: 100%;
    margin-right: -10px;
    margin-left: -10px;
    // overflow: scroll;
}
.react-multi-carousel-item{
    // margin-right: 20px;
}
.carousel-item-padding{
    padding-right: 20px;
}
.carousel-item-container{
    display: flex;
    flex-direction: row;
    padding-left: calc(40vw - 12px);
    margin-left: 0px;
    .carousel-item {
        margin: 0 10px;
        transition: all .5s ease-in-out;

        &.new {
        //   pointer-events: none;
          .am-card {
            .am-card-content {
              .list {
                display: none;
              }
            }
          }
        }

        &.right {
          &.new {
            transform: scale(1);
            opacity: 1;
          }
  
          &.active {
            transform: scale(1);
            opacity: 1;
            z-index: 2;
            // animation: slide-in .5s ease-in-out;
            margin-left: calc(-22vw - 10px);
            &:first-of-type{
              margin-left: -39vw;
            }
            @keyframes slide-in {
              0% {
                margin-left: 0;
              }
  
              100% {
                margin-left: -300px;
              }
              
            }
          }
  
          &.hidden {
            display: none;
          }

          &.old {
            margin-left: calc(-22vw - 10px);
            // animation: slide-out .5s ease-in-out;
            z-index: 1;  
            // margin-bottom: -30px;
            transform: translateY(20px);
            opacity: .8;
            transition-delay: .3s;
            &:first-of-type{
              margin-left: -39vw;
            }
            @keyframes slide-out {
              0% {
                z-index: 2;
              }
  
              100% {
                z-index: 1;
              }
              
            }
          }
        }

        &.left {
          &.new {
            transform: scale(1);
            opacity: 0.8;
            z-index: 2;
            // animation: left-slide-out .5s ease-in-out;
            
            @keyframes left-slide-out {
              0% {
                opacity: 1;
                transform: scale(1);
                margin-left: -39vw;
              }
  
              100% {
                opacity: 0.8;
                transform: scale(1);
                margin-left: 0;
              }
              
            }
          }
  
          &.active {
            transform: scale(1);
            opacity: 1;
            z-index: 2;
            margin-left: -39vw;
            -webkit-transition: transform 0.3s ease-out 0.3s, 0s opacity 0s ease;
            -moz-transition: transform 0.3s ease-out 0.3s, 0s opacity 0s ease;
            -o-transition: transform 0.3s ease-out 0.3s, 0s opacity 0s ease;
            transition: transform 0.3s ease-out 0.3s, 0s opacity 0s ease;
            &:not(:first-of-type){

              margin-left: calc(-22vw - 10px);
            }
            // animation: left-focus .5s ease-in-out;

            @keyframes left-focus {
              0% {
                opacity: 0;
              }
  
              100% {
                opacity: 1;
              }
              
            }
          }
  
          &.hidden {
            display: none;
          }

          &.old {
            margin-left: calc(-22vw - 10px);
            opacity: 0.3;
            transform: translateY(20px);
            // animation: left-focus .5s ease-in-out;
            &:first-of-type{
              margin-left: -39vw;
            }
            @keyframes left-focus {
              0% {
                opacity: 0;
              }
  
              100% {
                opacity: 1;
              }
              
            }
          }
        }  

      }
}
.arrow-buttons-container{
    // position: absolute;
    // top: 100%;
    // margin-left: 10px;
    margin-top: 40px;
    margin-bottom: 0px;
    // left: 0;
    display: inline-flex;
    .prev-btn-container,
    .next-btn-container{
        height: 15px;
        margin-right: 10px;
        cursor: pointer;
        color: var(--secondary-color);
        svg{
            height: 100%;
        }
        &:hover{
            color: var(--primary-color);
        }
        &.disabled,&.disabled:hover{
            opacity: 0.7;
            cursor: default;
            color: var(--secondary-color);
        }
    }
}

@media screen and (max-width: 767px) {
    .arrow-buttons-container{
      margin-top: 30px;
      display: none;
    }
    .carousel-item-container{
      display: flex;
      flex-direction: row;
      padding-left: calc(250px - 12px);
      margin-left: 0px;
      .carousel-item {
          margin: 0 10px;
          transition: all .5s ease-in-out;
  
          &.new {
          //   pointer-events: none;
            .am-card {
              .am-card-content {
                .list {
                  display: none;
                }
              }
            }
          }
  
          &.right {
            &.new {
              transform: scale(1);
              opacity: 1;
            }
    
            &.active {
              transform: scale(1);
              opacity: 1;
              z-index: 2;
              // animation: slide-in .5s ease-in-out;
              margin-left: calc(-250px - 10px);
              &:first-of-type{
                margin-left: calc(-250px + 10px);
              }
              .ProjectCard .ProjectCardContent a .ProjectTitle, .ProjectCard .ProjectCardContent a .ProjectType{
                color: var(--primary-color);
              }
              @keyframes slide-in {
                0% {
                  margin-left: 0;
                }
    
                100% {
                  margin-left: -300px;
                }
                
              }
            }
    
            &.hidden {
              display: none;
            }
  
            &.old {
              margin-left: calc(-250px - 10px);
              // animation: slide-out .5s ease-in-out;
              z-index: 1;  
              // margin-bottom: -30px;
              transform: translateY(20px);
              opacity: .8;
              transition-delay: .3s;
              &:first-of-type{
                margin-left: calc(-250px + 10px);
              }
              @keyframes slide-out {
                0% {
                  z-index: 2;
                }
    
                100% {
                  z-index: 1;
                }
                
              }
            }
          }
  
          &.left {
            &.new {
              transform: scale(1);
              opacity: 0.8;
              z-index: 2;
              // animation: left-slide-out .5s ease-in-out;
              
              @keyframes left-slide-out {
                0% {
                  opacity: 1;
                  transform: scale(1);
                  margin-left: calc(-250px + 10px);
                }
    
                100% {
                  opacity: 0.8;
                  transform: scale(1);
                  margin-left: 0;
                }
                
              }
            }
    
            &.active {
              transform: scale(1);
              opacity: 1;
              z-index: 2;
              margin-left: calc(-250px + 10px);
              -webkit-transition: transform 0.3s ease-out 0.3s, 0s opacity 0s ease;
              -moz-transition: transform 0.3s ease-out 0.3s, 0s opacity 0s ease;
              -o-transition: transform 0.3s ease-out 0.3s, 0s opacity 0s ease;
              transition: transform 0.3s ease-out 0.3s, 0s opacity 0s ease;
              &:not(:first-of-type){
  
                margin-left: calc(-250px - 10px);
              }
              // animation: left-focus .5s ease-in-out;
  
              @keyframes left-focus {
                0% {
                  opacity: 0;
                }
    
                100% {
                  opacity: 1;
                }
                
              }
            }
    
            &.hidden {
              display: none;
            }
  
            &.old {
              margin-left: calc(-250px - 10px);
              opacity: 0.3;
              transform: translateY(20px);
              // animation: left-focus .5s ease-in-out;
              &:first-of-type{
                margin-left: calc(-250px + 10px);
              }
              @keyframes left-focus {
                0% {
                  opacity: 0;
                }
    
                100% {
                  opacity: 1;
                }
                
              }
            }
          }  
  
        }
  }
}